## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Chapais,CA,78.51,clear sky,49.7834,-74.8492,Hôtel Opémiska
1,3,Puerto Ayora,EC,80.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,11,Hobyo,SO,77.13,overcast clouds,5.3505,48.5268,Halane Hotel and Restaurent
3,12,Bengkulu,ID,75.31,few clouds,-3.8004,102.2655,Grage Hotel Bengkulu
4,15,Itabira,BR,82.27,overcast clouds,-19.6192,-43.2269,Premium Executive Hotel

In [4]:
# 2. Using the template add the city name, the country code, the weather description and 
#    maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data 
#     in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the marker layer variable.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between 
# the four cities. 

# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Radcliff']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Radcliff']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Garden City']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Holland'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Griffith'] 
vacation_start.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
30,97,Radcliff,US,83.12,broken clouds,37.8404,-85.9491,Super 8 by Wyndham Radcliff Ft. Knox Area

In [65]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the 
#    to_numpy function and list indexing.

start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [69]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
#    and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", 
#   "BICYCLING", or "WALKING".

fig = gmaps.figure()
itinerary = gmaps.directions_layer(
                        start, end, waypoints=[stop1, stop2, stop3],
                        travel_mode='DRIVING')

# directions = gmaps.directions_layer(start, end, 
#                                     waypoints=[stop1, stop2, stop3],
#                                     travel_mode='DRIVING')
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [70]:
# 8. To create a marker layer map between the four cities.
#    Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,
                          vacation_stop1,
                          vacation_stop2,
                          vacation_stop3], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,97,Radcliff,US,83.12,broken clouds,37.8404,-85.9491,Super 8 by Wyndham Radcliff Ft. Knox Area
1,108,Garden City,US,85.21,scattered clouds,42.3256,-83.3310,Big Trees Mobile Home Community
2,483,Holland,US,83.44,clear sky,42.7875,-86.1089,Hampton Inn Holland
3,486,Griffith,US,86.25,clear sky,41.5284,-87.4237,Apartment above Depot Bar

In [71]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the 
#     data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [81]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(41.079, -85.139), zoom_level=5.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))